[submodule "GUI-Docker-Env"]
	path = GUI-Docker-Env
	url = git@github.com:tony-pitchblack/GUI-Docker-Env.git
[submodule "dart_rollouter"]
	path = dart_rollouter
	url = git@github.com:DeepPavlov-GUI2MCP/dart_rollouter.git
	branch = dev
